*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
li{
  float: right;
}
li a{
  display: block;
  padding: 15px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1{
  font-family: "Franklin Gothic";
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #004B0D;

}
h3{
  font-family: "Franklin Gothic";
  font-size: 35px;
  font-weight: 200;
  font-style: italic;
  text-decoration: underline;
  color: #103E05;
}
nav{
  width: 50%;
  height: 5vw;
  font-family: "Franklin Gothic";
  font-size: 35px;
  font-weight: 400;
  font-style: italic;
  color: #008122;
  /* background-color: orange; */
  float: right;
}
p{
  font-family: "Franklin Gothic";
  font-size: 16px;
  font-style: normal;
}
a:link{
  color: #008122;
  text-decoration: none;
}
a:visited{
  color: #103E05;
  text-decoration: none;
}
a:hover{
  color: #37DF0F;
  text-decoration: none;
}
a:active{
  color: #106512;
  text-decoration: none;
}
.header{
  width: 50%;
  height: 5vw;
  /* background-color: orange; */
  float: left;
}
.headImage{
  width: 100%;
  height: 35vw;
  float: left;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.text{
  display: block;
  width: 50%;
  height: 50vw;
  background-color: white;
  overflow: visible;
  float: left;
}
.image{
  display: block;
  width: 50%;
  height: 20vw;
  background-color: lime;
  float: right;
}
/* footer{
  float: left;
} */
