body{
  margin: 0;
  overflow-x: hidden;
}
main{
  width: 120vw;
  margin: -10vw;
}
.pattern1 .shape1{
  width: 100px;
  height: 100px;
  background-color: purple;
  float: left;
  margin: -10px;
  opacity: .80;
}
.patter1 .shape2{
  width: 100px;
  height: 100px;
  background-color: lime;
  float: left;
  margin: -10px;
  opacity: .80;
}
.pattern1 .shape3{
  width: 100px;
  height: 100px;
  background-color: turquoise;
  float: left;
  margin: -10px;
  opacity: .80;
}
