*{
  margin: 0;
  box-sizing: border-box;
}
header{
  width: auto;
  height: 15vw;
  background-color: yellow;
}
h1{
  font-size: 80px;
  width: 70%;
  height: 5vw;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: green;
}
.emptyH2{
  width: 20%;
  height: 4vw;
  background-color: purple;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
h2{
  font-size: 60px;
  width: 50%;
  height: 4vw;
  background-color: blue;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}
.emptyH3{
  width: 50%;
  height: 3vw;
  background-color: red;
  float: left;
}
h3{
  font-size: 40px;
  width: 20%;
  height: 3vw;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: lime;
  float: left;
}
main{
  width: auto;
  height: 125vw;
  background-color: tomato;
}
.intro{
  font-size: 16px;
  width: 70%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  background-color: aqua;
  float: left;
}
.emptyBody{
  width: 30%;
  height: 100vw;
  background-color: orange;
  float: left;
}
.text{
  font-size: 16px;
  width: 70%;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  background-color: brown;
  float: left;
}
@media only screen and (max-width: 1000px){
  h1{
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2{
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .intro .text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 1440px){
  h1{
    font-size: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2{
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3{
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .intro .text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
